# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

\!src/

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
app/tests/coverage/
.bower-*/
.idea/
coverage/
data/

*.pem

_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.vscode
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln

